<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Clinic_Management_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Clinic_Management_System.Properties.Settings>
            <setting name="Style" serializeAs="String">
                <value>Emerald.ssk</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="IsWinAuth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="clinic_name" serializeAs="String">
                <value />
            </setting>
            <setting name="clinic_address" serializeAs="String">
                <value />
            </setting>
            <setting name="clinic_email" serializeAs="String">
                <value />
            </setting>
            <setting name="clinic_website" serializeAs="String">
                <value />
            </setting>
            <setting name="clinic_facebook" serializeAs="String">
                <value />
            </setting>
            <setting name="clinic_mobile" serializeAs="String">
                <value />
            </setting>
            <setting name="clinic_phone" serializeAs="String">
                <value />
            </setting>
            <setting name="clinic_fax" serializeAs="String">
                <value />
            </setting>
        </Clinic_Management_System.Properties.Settings>
    </userSettings>
</configuration>
